<!-- <div class="container">
  <header>
    <div class="flex">
      <ul>
        <li><a routerLink="/product">Product</a></li>
        <li><a routerLink="/app">Product</a></li>
        <li><a routerLink="/student">Student</a></li>
      </ul>
    </div>
  </header>
  <aside>
    A side
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>Nguyễn Công Sáng</footer>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <router-outlet></router-outlet>
</body>
</html>